@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

:root{
    --dark-gray:#18181b;
    --bg-color-1:#ffffff;
    --bg-color-2:#f4f4f5;
    --border-color:#e4e4e7;
    --border-active:#a1a1aa;
}

body{
    margin:0;
    background:var(--bg-color-1);
    overflow-x:hidden;
}

body *{
    font-family: 'Inter', sans-serif;
}

h6{
    margin:0;
    font-weight:500;
    background:var(--bg-color-2);
    font-size:12px;
    padding:6px 12px;
    border-radius:6px;
}

h1{
    font-size:32px;
    margin:0;
}

h2{
    font-size:16px;
    margin:0;
}

h3{
    font-size:14px;
    margin:0;
}

p{
    margin:0;
    font-size:14px;
    color:gray;
}

#navbar{
    width:calc(100vw - 256px);
    padding:0 128px;
    height:56px;
    border-bottom:1px solid var(--border-color);
    position:sticky;
    top:0;
    margin-bottom:-56px;
    z-index:3;
    background:var(--bg-color-1);
    /*box-shadow:0 1px 2px 0 var(--border-color);*/
}

#navbar, #navbar > div, #navbar-input{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    gap:18px;
}

#navbar-left > img{
    height:28px;
    border-radius:3px;
    filter:grayscale(1);
    transition-duration:250ms;
    cursor:pointer;
}

#navbar-left > img:hover{
    filter:none;
}

#navbar-left > h1{
    font-size:16px;
}

#navbar-left > a{
    color:gray;
    text-decoration:none;
    font-weight:500;
    font-size:14px;
}

#navbar-input{
    position:relative;
    box-shadow:0 1px 2px 0 var(--border-color);
    padding-right:48px;
    height:32px;
    border-radius:6px;
    border:1px solid var(--border-color);
}

#navbar-input > input{
    width:202px;
    border:none;
    outline:none;
    background:transparent;
    font-size:14px;
    padding-left:6px;
    font-weight:500;
    transition-duration:250ms;
}

#navbar-input > input:focus{
    width:304px
}

#navbar-input > div{
    background:var(--bg-color-2);
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:3px 6px;
    border-radius:4px;
    position:absolute;
    right:6px;
    gap:4px;
}

#navbar-input > div > img{
    height:12px;
    filter:invert(0.5);
}

#navbar-input > div > p{
    margin:0;
    color:gray;
    font-size:12px;
}

#navbar-right > a > img{
    height:18px;
    filter:invert(0.25);
    transition-duration:250ms;
}

#navbar-right > a > img:hover{
    filter:invert(0);
}

.button-primary{
    border:1px solid var(--dark-gray);
    background:var(--dark-gray);
    cursor:pointer;
    transition-duration:250ms;
    font-weight:500;
    color:white;
}

.button-secondary{
    border:1px solid var(--border-color);
    background:var(--bg-color-1);
    box-shadow:0 1px 2px 0 var(--border-color);
    cursor:pointer;
    transition-duration:250ms;
    font-weight:500;
}

#footer{
    display:flex;
    flex-direction:column;
    width:100vw;
    padding:0;
}

#footer > div:first-of-type{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:84vw;
    padding:64px 8vw;
}

#footer > div:first-of-type > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:24px;
}

#footer > div:first-of-type > div > img{
    height:48px;
}

#footer > div:first-of-type > div > div{
    display:flex;
    flex-direction:column;
    gap:6px;
}

#footer > div:first-of-type > div > div > h1{
    font-size:28px;
    color:white;
    margin:0;
    width:38vw;
}

#footer  div:first-of-type > div > div > p{
    width:38vw;
    color:white;
    margin:0;
    font-size:13px;
}

#footer > div:first-of-type > a{
    color:white;
    text-transform:uppercase;
    text-decoration:none;
    outline:2px solid white;
    padding:6px 18px;
    font-size:14px;
    font-weight:700;
    border-radius:40px;
    cursor:pointer;
}

#footer > div:last-of-type{
    background:var(--dark-gray);
    width:84vw;
    padding:128px 8vw;
}

#footer > div:last-of-type > div:first-of-type{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
}

#footer > div:last-of-type > div:first-of-type > div:first-of-type{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    gap:6px;
}

#footer > div:last-of-type > div:first-of-type > div:first-of-type > div:first-of-type{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    gap:12px;
}

#footer > div:last-of-type > div:first-of-type > div:first-of-type > div:first-of-type > img{
    height:24px;
}

#footer > div:last-of-type > div:first-of-type > div:first-of-type > div:first-of-type > h1{
    font-size:24px;
    margin:0;
    color:white;
}

#footer > div:last-of-type > div:first-of-type > div:first-of-type > p{
    font-size:12px;
    width:32vw;
    color:gray;
}

#footer > div:last-of-type > div:first-of-type > div:first-of-type > div:last-of-type{
    display:flex;
    flex-direction:column;
    gap:6px;
    margin-left:12px;
}

#footer > div:last-of-type > div:first-of-type > div:first-of-type > div:last-of-type > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    gap:13px;
}

#footer > div:last-of-type > div:first-of-type > div:first-of-type > div:last-of-type > div > img{
    filter:invert(0.75);
    height:18px;
}

#footer > div:last-of-type > div:first-of-type > div:first-of-type > div:last-of-type > div > p{
    font-size:13px;
    margin:0;
    color:gray;
}

#footer > div:last-of-type > div:first-of-type > div:last-of-type{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-end;
    gap:48px;
}

#footer > div:last-of-type > div:first-of-type > div:last-of-type > div{
    display:flex;
    flex-direction:column;
    gap:12px;
}

#footer > div:last-of-type > div:first-of-type > div:last-of-type > div > h1{
    font-size:14px;
    color:white;
    margin:0;
}

#footer > div:last-of-type > div:first-of-type > div:last-of-type > div > a{
    transition-duration:250ms;
    color:gray;
    text-decoration:none;
    font-size:13px;
    margin:0;
}

#footer > div:last-of-type > div:first-of-type > div:last-of-type > div > a:hover{
    color:white;
}

#footer > div:last-of-type > div:nth-of-type(2){
    width:100%;
    height:1px;
    background-color:gray;
    margin:48px 0 24px 0;
}

#footer > div:last-of-type > div:last-of-type{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

#footer > div:last-of-type > div:last-of-type > div{
    display:flex;
    flex-direction:row;
    gap:12px;
}

#footer > div:last-of-type > div:last-of-type > div > p{
    margin:0;
    color:gray;
    font-size:12px;
}

#footer > div:last-of-type > div:last-of-type > div > a > img{
    transition-duration:250ms;
    filter:invert(0.5);
    height:18px;
}

#footer > div:last-of-type > div:last-of-type > div > a > img:hover{
    filter:invert(1);
}