#main-container{
    width:calc(100vw - 256px);
    height:100vh;
    padding:0 128px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    border-bottom:1px solid var(--border-color);
}

#main-container > div{
    display:flex;
    flex-direction:column;
    width:35vw;
}

#main-container > div:first-of-type{
    align-items:flex-start;
    justify-content:flex-start;
    gap:16px;
}

#main-container > div:last-of-type{
    align-items:flex-end;
    justify-content:flex-end;
    position:relative;
}

#main-container > div:last-of-type > div{
    width:100%;
    border-radius:24px;
    background-image:url("./videos/pattern.gif");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    height:20vw;
}

#main-container > div:last-of-type > p{
    position:absolute;
    font-weight:500;
    background:var(--bg-color-2);
    font-size:12px;
    padding:6px 12px;
    border-radius:6px;
    right:12px;
    bottom:12px;
    margin:0;
    color:black;
}

#main-container > div:first-of-type > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:12px;
}

#main-container a{
    padding:12px;
    border-radius:6px;
}

a:hover{
    transform:scale(1.05);
}

#elephant-careers > div{
    width:calc(50vw - 128px);
    background-image:url("./videos/pattern.gif");
    height:20vw;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:24px;
    margin:24px 0;
}

#elephant-careers > a{
    padding:12px 24px;
    border-radius:6px;
    cursor:pointer;
}

#elephant-careers{
    width:calc(100vw - 256px);
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    padding:96px 128px;
    gap:12px;
    border-bottom:1px solid var(--border-color);
    align-items:center;
}

#elephant-careers > *:not(a){
    max-width:calc(50vw - 128px);
    text-align:center;
}